In [1]:
import os
cwd = os.getcwd()

import matplotlib.pyplot as plt
from matplotlib import rcParams
import matplotlib as mpl
import seaborn as sb
import numpy as np
import pandas as pd
from pandas import Series
import zipfile
import requests
from bs4 import BeautifulSoup
import re

%matplotlib inline
%config InlineBackend.figure_format = 'retina'
rcParams['figure.figsize'] = 5, 4
sb.set_style('whitegrid')


pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [2]:
%timeit
# List of dictionaries to build file by file and later convert to a DataFrame
df_list = []
folder = cwd + '/rt-html'
for movie_html in os.listdir(folder):
    with open(os.path.join(folder, movie_html)) as file:
        soup = BeautifulSoup(file, 'lxml')
        title = soup.title.contents[0][:-len(' - Rotten Tomatoes')]
        a = soup.find_all("div", class_="audience-score meter")
        for item in a:
            audience_score = item.find('span').contents[0]
            audience_score = audience_score.split("%")[0]
            
        b = soup.find("div", class_="audience-score meter")
        num_audience_ratings = b.next_sibling.contents[3].contents[2]
        num_audience_ratings = num_audience_ratings.split(" ")[-1].replace(',', "")
        # Append to list of dictionaries
        df_list.append({'title': title,
                        'audience_score': int(audience_score),
                        'number_of_audience_ratings': int(num_audience_ratings)})
df = pd.DataFrame(df_list, columns = ['title', 'audience_score', 'number_of_audience_ratings'])

In [3]:
df.head()

                                    title  audience_score  number_of_audience_ratings
0  12 Angry Men (Twelve Angry Men) (1957)              97                      103672
1                     The 39 Steps (1935)              86                       23647
2     The Adventures of Robin Hood (1938)              89                       33584
3                    All About Eve (1950)              94                       44564
4   All Quiet on the Western Front (1930)              89                       17768