In [8]:
import os
cwd = os.getcwd()

import matplotlib.pyplot as plt
from matplotlib import rcParams
import matplotlib as mpl
import seaborn as sb
import numpy as np
import pandas as pd
from pandas import Series
import zipfile
import requests
from bs4 import BeautifulSoup

%matplotlib inline
%config InlineBackend.figure_format = 'retina'
rcParams['figure.figsize'] = 5, 4
sb.set_style('whitegrid')


pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [9]:
df = pd.read_csv('bestofrt.tsv',sep='\t',header=(0))

In [10]:
df.head()

   ranking  critic_score                      title  number_of_critic_ratings
0        1            99    The Wizard of Oz (1939)                       110
1        2           100        Citizen Kane (1941)                        75
2        3           100       The Third Man (1949)                        77
3        4            99             Get Out (2017)                       282
4        5            97  Mad Max: Fury Road (2015)                       370

In [17]:
import re
pattern = re.compile("^et", re.I)
pattern.search('et_the_extraterrestrial')
# df.title[re.compile("^et", re.I)]

In [13]:
url = 'https://www.rottentomatoes.com/m/et_the_extraterrestrial'
response = requests.get(url)

In [14]:
# Save HTML to file
# with open ('et_the_extraterrestrial.html', mode='wb') as file:
#     file.write(response.content)

In [ ]:
# work with HTML in memory
soup = BeautifulSoup(response.content,'lxml')